@font-face {
    font-family: "digital-7";
    src: url("../fonts/digital_7/digital-7.ttf") format("truetype");
    src: url("../fonts/digital_7/digital-7 (italic).ttf") format("truetype");
    src: url("../fonts/digital_7/digital-7 (mono).ttf") format("truetype");
    src: url("../fonts/digital_7/digital-7 (mono italic).ttf") format("truetype");
}

body {
	background-color: black;
}

#calculator {
	height: 360px;
	width: 320px;

	background-color: #ccc1ba;

	position: relative;
	border-radius:5px;
}

#d_display {
	height:40px;
	width:280px;

	background-color: White;
	
	position:relative;
	left: 20px;
	top: 20px;
}

#i_display {
	height: 31px;
	width: 271px;

	background-color: #dfd788;
	color: #556c7e;
	font-size: 22px;
	text-align: right;

	position: relative;
	left: 2px;
	top: 2px;
	font-family: "digital-7";
}

#d_interface {
	position: relative;
	top: 20px;
        padding: 0 20px;
}

.button {
	font-size: 22px;
	width: 52px;
	height: 40px;

        margin-left: 10px;

	border: none;
	border-radius: 10px;

	border-bottom: gray 1px solid;
	border-right: gray 1px solid;
}

.button.operator {
	background-color: #5e5757;
	color: White;
}

.button.number {
	background-color: #dfd788;
	color: #556c7e;
}

.button.quit {
	background-color: #5e5757;
	color: White;
}
